{% extends 'base.html.twig' %}

{% block title %}Vinyles{% endblock %}

{% block body %}
<h1>Vinyles</h1>

<div id="vinyles">
    {% for vinyle in vinyles %}
        <div class="vinyle">
            <h2>{{ vinyle.vinyle }}</h2>
            <p>Artiste : {{ vinyle.artiste }}</p>
            <p>Année : {{ vinyle.annee }}</p>
            <p>Prix : {{ vinyle.prix }} €</p>
            <a href="{{ path('app_vinyle_show', {'id': vinyle.id}) }}">Voir le produit</a>
        </div>
    {% endfor %}
</div>
{% endblock %}
