{% extends 'base.html.twig' %}

{% block title %}Vinyles{% endblock %}

{% block body %}
    <h1>Nos vinyles</h1>

    <div class="vinyl-grid">
        {% for vinyle in vinyles %}
            <a
                href="{{ path('app_vinyle_show', { id: vinyle.id }) }}"
                class="vinyl-card"
            >
                <img
                    src="{{ asset('images/vinyle' ~ vinyle.id ~ '.jpg') }}"
                    alt="{{ vinyle.vinyle }}"
                >

                <h3>{{ vinyle.vinyle }}</h3>
                <p>{{ vinyle.artiste }}</p>
                <p>{{ vinyle.prix }} €</p>
            </a>
        {% endfor %}
    </div>
{% endblock %}
